/* Importing the 'Orbitron' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* General body styles */
body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-size: 1000% 1000%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Wrapper styles */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navigation styles */
nav {
  background-color: #1c1c1c;
  color: #f0f0f0;
  padding: 10px 0;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.5em;
}

.links {
  list-style: none;
  display: flex;
}

.links li {
  padding: 0 20px;
}

.links li a {
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
}

.links li a.active,
.links li a:hover {
  color: #ffcc00;
  text-shadow: 0 0 10px #ffcc00;
}

button {
  font-family: 'Orbitron', sans-serif;
  background-image: linear-gradient(45deg, #6c00c4, #0026ff, #00c3ff);
  color: #ffffff;
  border: none;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 5px #333;
  transition: all 0.3s ease;
  border-radius: 8px;
  /* Added animated gradient */
  background-size: 200% 200%;
  animation: gradientShift 5s linear infinite;
}

/* Add keyframes for the gradient animation */
@keyframes gradientShift {
  0% { background-position: 100% 50%; }
  50% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

button:hover {
  box-shadow: 0 0 5px #8c00ff, 0 0 25px #8c00ff, 0 0 50px #8c00ff, 0 0 200px #8c00ff;
  font-size: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}




.mp3 {
    display: none;
}


.p-1 {
    background-color: #1c1c1c;
    padding: 15px;
    border-left: 5px solid #5900ff;
    margin: 20px 0;
    font-size: large;
}
